<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL</title>
    <style>
        p {
            margin-left: 10px;
            font-size: 16px;
        }
        h3 {
            margin-left: 10px;
            margin-top: 10px;
            font-size: 20px;
        }    
    </style>
</head>
<body>
<h3>1.数据库管理常用基本命令</h3>
<p>1.连接数据库<br> <em>mysql -u用户名 -p密码</em><br> 2.显示已有数据库<br> <em>show databases;</em><br> 3.创建数据库<br> <em>create database sqlname;</em><br> 4.选择数据库<br> <em>use database sqlname;</em><br> 5.显示数据库中的表（先选择数据库）<br> <em>show tables;</em><br> 6.显示当前数据库的版本信息以及连接用户名<br> <em>select version(),user();</em><br> 7.删除数据库(删除时没有提示直接删除)<br> <em>drop database sqlname;</em></p>
</body>
</html>