<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>软件测试</title>
    <style>
        p {
            margin-left: 10px;
            font-size: 16px;
        }
        h4 {
        	margin-left: 10px;
        	margin-top: 10px;
        	font-size: 20px;
        }
        h5 {
            margin-left: 10px;
            font-size: 18px;
        }    
    </style>
</head>
<body>
<h4>一、软件测试的基础概念</h4>
<h5>1.什么是软件测试：</h5><p>使用人工或自动的手段来运行或测量软件系统的过程，以检验软件系统是否满足规定的要求，并找出与预期结果之间的差异
</p>
<h5>2.软件测试的目的：</h5><p>① 验证软件需求和功能是否得到了完整的实现；② 尽可能早的发现软件中的bug；③ 尽可能多的发现软件中的bug；④ 验证软件是否可以发布；⑤ 对软件的质量、性能、效率做出合理的评估；⑥ 预防用户使用可能出现的问题；⑦ 预防下个版本可能出现的问题</p>
<h5>3.软件测试的流程：</h5>
  <p>（一）需求分析：
  	这个阶段主要是对业务的学习，包括：阅读需求，理解需求，分析需求点，参与需求评审会议，评审需求是否合理<br>
  （二）制定测试计划：
  	这个阶段的主要任务就是通过参考“软件需求规格说明书”以及“项目总体计划”，来编写测试计划。所编写的测试计划的内容包括：
	① 测试范围（依据需求文档）;
	② 进度安排（时间进度、流程进度）;
	③ 人力、物力的分配（人员有哪些、都有哪些业务点、以及相对应的资源，对于这些的分配）;
	④ 对于整体测试策略的制定;
	⑤ 对于风险评估与规避措施要有一个制定;<br>
  （三）设计测试用例、编写测试用例：通过参考需求文档（原型图）、概要设计、详细设计等文档，来编写测试用例，用例编写完成之后会进行评审。<br>

  （四）实施测试（执行测试用例）：实施测试主要包括以下几个部分：
	① 搭建相应的测试环境;
	② 执行冒烟测试（预测试）;
	③ 进行正式的测试;
	④ 回归测试;
<br>
（五）bug的管理，提交缺陷报告：这个阶段主要是将执行测试过程中发现的bug提交到bug管理平台上，最后可能需要提交缺陷报告。
<br>
（六）生成测试总结和报告：在这个阶段需要给出测试报告，并确认是否可以上线。
<br>
<h5>4.软件测试的原则是:</h5>

<p>① 所有测试的标准都是建立在用户需求之上

	② 软件项目一启动，软件测试也就是开始，而不是等程序写完，才开始进行测试;

	③ 尽可能早的开展测试，越早发现错误，修改的代价越小;

	④ 合理控制测试的深度与广度，完全测试是不可能的（即：测试的投入与产出要均衡）;

	⑤ 80-20原则，软件中80%的bug可以在分析、设计与评审阶段就能被发现与修正，16%的缺陷在系统的软件测试过程中发现，最后剩下的4%是用户长期使用过程中才能暴露出来;

	⑥ 发现错误较多的程序段，需进行更深入的测试;

	⑦ 在进行软件测试的过程中要严格执行测试计划，排查测试的随意性，以免发生疏漏或者重复无效的工作;

	⑧ 软件开发人员应当避免测试自己的程序;
</p>
<h5>5.软件测试的意义：</h5><p>解放研发人员和售后服务人员。
软件测试不仅可以降低软件质量风险，使研发人员能够更专心解决程序的算法和效率问题，同时，经过严格检验的完整产品也减轻了售后服务人员的工作量。</p>
<h5>6.BUG的几个要素：</h5><p>(1)软件没有实现说明书中所列出的功能;

(2)软件出现了说明书中提到不应该出现的事情;

(3)软件没有实现说明书中没有提到但应该实现的事情;

(4)软件非常难于学习、使用，运转速度很慢，用户认为无法达到预期;</p>
<h5>7.软件测试分类：</h5><p>(1)黑盒测试：对软件内部如何实现不了解，以外部的视角来视察软件。

	<p>黑盒测试方法：等价类边界值，因果图，判定表，错误推测法</p>

<p>(2)白盒测试：白盒测试与黑盒测试相反，需要了解软件中的结构。白盒测试也叫结构化测试，玻璃盒测试。</p>

tips:黑盒测试与白盒测试的优缺点:
<p>黑盒测试，优点：不需要了解软件实现细节，软件内部实现机制更改时，一般不必修改用例实现相对简单，以用户角度出发<br>

			缺点：无法保证软件代码内各主要路径都被覆盖到，容易导致测试不很完全</p>

<p>白盒测试，优点：针对软件代码和路径进行测试，相对易于调试，容易发现bug产生的原因<br>

 			缺点：对测试人员的编程能力要求高，软件实现代码改变，测试用例一般也需要改变。</p><br>

<p>(3)功能测试

(4)兼容性测试

(5)性能测试

(6)安全测试

(7)压力测试</p>
<h5>8.软件测试要素：</h5>
<p>标识符，测试内容，输入条件，预期结果，测试环境信息，与其他测试用例的依赖关系，测试用例需要被开发、审阅、使用、维护和保存。</p>
<h5>9.设计测试用例的主要方法:</h5>

<p>(1）等价类划分:常见的软件测试面试题划分等价类: 等价类是指某个输入域的子集合.在该子集合中,各个输入数据对于揭露程序中的错误都是等效的.并合理地假定:测试某等价类的代表值就等于对这一类其它值的测试.因此,可以把全部输入数据合理划分为若干等价类,在每一个等价类中取一个数据作为测试的输入条件,就可以用少量代表性的测试数据.取得较好的测试结果.等价类划分可有两种不同的情况:有效等价类和无效等价类.</p>

<p>(2）边界值分析法:边界值分析方法是对等价类划分方法的补充。测试工作经验告诉我,大量的错误是发生在输入或输出范围的边界上,而不是发生在输入输出范围的内部.因此针对各种边界情况设计测试用例,可以查出更多的错误.
<br>
使用边界值分析方法设计测试用例,首先应确定边界情况.通常输入和输出等价类的边界,就是应着重测试的边界情况.应当选取正好等于,刚刚大于或刚刚小于边界的值作为测试数据,而不是选取等价类中的典型值或任意值作为测试数据.</p>

<p>(3）因果图法:前面介绍的等价类划分方法和边界值分析方法,都是着重考虑输入条件,但未考虑输入条件之间的联系, 相互组合等-考虑输入条件之间的相互组合,可能会产生一些新的情况-但要检查输入条件的组合不是一件容易的事情, 即使把所有输入条件划分成等价类,他们之间的组合情况也相当多-因此必须考虑采用一种适合于描述对于多种条件的组合,相应产生多个动作的形式来考虑设计测试用例-这就需要利用因果图(逻辑模型)-因果图方法最终生成的就是判定表-它适合于检查程序输入条件的各种组合情况.</p>

<p>(4）场景分析法:指根据用户场景来模拟用户的操作步骤，这个比较类似因果图，但是可能执行的深度和可行性更好。</p>
<h5>10.测试计划工作的目的是什么?测试计划工作的内容都包括什么?其中哪些是最重要的?</h5>
<p>软件测试计划是知道测试过程的纲领性文件，包含了产品概述、测试策略、测试方法、测试区域、测试配置、测试周期、测试资源、测试交流、风险分析等内容。借助软件测试计划，参与测试的项目成员，尤其是测试管理人员，可以明确测试任务和测试方法，保持测试实施过程的顺畅沟通，跟踪和控制测试进度，应对测试过程中的各种变更。
<br>
测试计划和测试详细规格、测试用例之间是战略和战术的关系，测试计划主要从宏观上规划测试活动的范围、方法和资源配置，而测试详细规格、测试用例是完成测试任务的具体战术。所以其中最重要的是测试策略和测试方法(最好能先评审)。</p>
<h5>11.当开发人员说不是BUG时，如何应付</h5>
<p>开发人员说不是BUG，有2种情况，一是需求没有确定，所以我可以这么做，这个时候可以找来产品经理进行确认，需不需要改动。3方商量确定好后再看要不要改。二是这种情况不可能发生，所以不需要修改，这个时候，我可以先尽可能的说出是BUG的一句是什么?如果被用户发现或出了问题，会有什么不良结果?程序员可能会给你很多理由，你可以对他的解释进行反驳。如果还是不行，那我可以给这个问题提出来，跟开发经理和测试经理进行确认，如果要修改就改，如果不要修改就不改。其实有些真的不是BUG，我也只是建议的方式写进测试文档中，如果开发人员不修改也没有大问题。如果不是BUG的话，一定要坚持自己的立场，让问题得到最后的确认。</p>
<h5>12.详细的描述一个测试活动完整的过程</h5>
<p>
	1-项目经理通过和客户的交流，完成需求文档，由开发人员和测试人员共同完成需求文档的评审，评审的内容包括：需求描述不清楚的地方和可能有明显冲突或者无法实现的功能的地方。项目经理通过综合开发人员，测试人员以及客户的意见，完成项目计划。然后sqa进入项目，开始进行统计和跟踪
<br>
2-开发人员根据需求文档完成需求分析文档，测试人员进行评审，评审的主要内容包括是否有遗漏或者双方理解不同的地方。测试人员完成测试计划文档，测试计划包括的内容上面有描述。
<br>
3-测试人员根据修改好的需求分析文档开始写测试用例，同时开发人员完成概要设计文档，详细设计文档。此两份文档成为测试人员撰写测试用例的补充材料。
<br>
4-测试用例完成后，测试和开发需要进行评审。
<br>
5-测试人员搭建环境
<br>
6-开发人员提交第一个版本，可能存在未完成功能，需要说明。测试人员进行测试，发现bug后提交给bugzilla。
<br>
7-开发提交第二个版本，包括bug fix以及增加了部分功能，测试人员进行测试。
<br>
8-重复上面的工作，一般是3-4个版本后bug数量减少，达到出货的要求。
<br>
9-如果有客户反馈的问题，需要测试人员协助重现以及回归测试。
</p>
</body>
</html>
