<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>美少女老婆们</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
	<script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
</head>
<style>
	.bg {
		background-image: url('../static/002.jpeg');
		z-index: -1;
        background-size: cover;
		position: absolute;
		background-color: rgba(255, 255, 255, 0);
	}
</style>
<body>
	<div class="bg">
		<ul class="layui-nav layui-bg-blue">
			<li class="layui-nav-item" style="margin-right:300px"><span>欢迎，高洁而纯真的灵魂</span></li>
			<li class="layui-nav-item"><a href="/home">首页博客</a></li>
			<li class="layui-nav-item"><a href="/laopo">纸片人老婆们</a></li>
			<li class="layui-nav-item"><a href="/study">这个不用看</a></li>
			<li class="layui-nav-item"><a href="/selfWeb">关于本站</a></li>
		</ul>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6">
				<div class="layui-card" style="margin-top: 30px;">
					<div class="layui-card-body">
						<img src="../static/elysia.jpg" style="height: auto; width:100%;">
						<hr>
						<div>
							<a style="color: lightpink; font-size: 16px;" href="/elysia?id=2">
							嗨～，想我了吗？无论何时何地，爱莉希雅永远都会回应你的期待<br>
								<span style="color: lightpink;font-size: 16px; margin-left:400px">--「无暇之人」爱莉希雅</span>
							</a>
							<i class="layui-icon layui-icon-music" style="color: lightpink;"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="layui-card" style="margin-top: 20px;">
					<div class="layui-card-body">
						<img src="../static/lh.jpg" style="height: auto; width:100%;">
						<hr>
						<div>
							<a href="/ayaka?id=1" style="font-size: 16px;">
							神里小姐贵为稻妻名门神里家族的‘公主’，如风雅的雪鹤一般端庄高洁，但又像衔花扣窗的鸟儿一样善良亲切<br>
								<span style="font-size: 16px;margin-left:400px">--「白鹭公主」神里绫华</span>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6">
				<div class="layui-card" style="margin-top: 10px;">
					<div class="layui-card-body">
						<img src="../static/kq.jpg" style="height: auto; width:100%;">
						<hr>
						<div>
							<a style="color: purple;font-size: 16px;" href="/keqing?id=3">
							那位‘玉衡星’虽然不敬仙神，但我觉得她是个相当飒爽的人呢。<br>
								<span style="color: purple;font-size: 16px;margin-left:400px">--「霆霓快雨」刻晴</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-body">
						<img src="../static/xg.jpg" style="height: auto; width:100%;">
						 <hr>
						<div>
							<a href="/Yoimiya?id=4" style="font-size: 16px;color: orange;">
							将情意与愿望融入绚烂烟花，令短暂的事物变得隽永。宵宫从事这一行的意义，也在于此.<br>
								<span style="font-size: 16px;color: orange;margin-left:400px">--「鸣神岛的夏天」长野原宵宫</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>