<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的博客</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
    <script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
</head>
<style>
	img {
		width: 100%;
		height: auto;
	}
	.as {
	    margin-left:260px;
	    color: pink;
	    font-size: 16px;
	    }
    .bg {
        background-image: url('../static/bgp.jpeg');
        z-index: -1;
        background-size: cover;
		position: absolute;
    }
</style>
<body>
<div class="bg">
    <ul class="layui-nav layui-bg-blue">
    <li class="layui-nav-item" style="margin-right:300px"><span>欢迎，高洁而纯真的灵魂</span></li>
    <li class="layui-nav-item"><a href="/home">首页博客</a></li>
    <li class="layui-nav-item"><a href="/laopo">纸片人老婆们</a></li>
    <li class="layui-nav-item"><a href="/study">这个不用看</a></li>
    <li class="layui-nav-item"><a href="/selfWeb">关于本站</a></li>
    <li class="layui-nav-item layui-hide-xs"><a href="//baidu.com">技术支持</a></li>

    </ul>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset7" style="margin-top: 10px;">
            <div class="layui-panel layui-anim layui-anim-down">
                <div style="padding: 10px;">
                    <img src="/static/shanshui.jpeg" alt="大海啊">
                </div>
                <hr>
                <div>
                    <a href="/study" style="margin-left:320px;color:#1e9fff;font-size:16px;">也许是人生感悟呢</a>
                    <i class="layui-icon layui-icon-help" style="color:#1e9fff;font-size:16px;"></i>
                </div>
            </div>
        </div>

    <div class="layui-row">
        <div class="layui-col-md4" style="margin-top: 30px;">
            <div class="layui-panel layui-anim layui-anim-up" style="margin-bottom:30px;margin-left:20px;">
                <div style="padding: 10px;">
                    <img src="/static/travel.jpeg" alt="远处有座山" style="height: 260px;">
                </div>
                <hr>
                <div>
                    <a href="/selfWeb" style="margin-left:360px;color:#1e9fff;font-size:16px;">关于本站</a>
                    <i class="layui-icon layui-icon-help" style="color:#1e9fff;font-size:16px;"></i>
                </div>
            </div>
        </div>

        <div class="layui-col-md4 layui-anim layui-col-md-offset3">
            <div class="layui-panel layui-anim-fadein" style="margin-top:30px;">
                <div style="padding: 10px;">
                    <img src="/static/Honkai.jpg" alt="纸片人老婆们">
                </div>
                <hr>
                <div>
                    <a href="/laopo" class="as">关于我的美少女老婆们</a>
                    <i class="layui-icon layui-icon-music" style="color:pink;"></i>
                    <i class="layui-icon layui-icon-right" style="color:pink;margin-left:10px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>