<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这个是最没用的</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
  <script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
</head>
<body>
<ul class="layui-nav layui-bg-blue">
  <li class="layui-nav-item" style="margin-right:300px"><span>欢迎，高洁而纯真的灵魂</span></li>
  <li class="layui-nav-item"><a href="/home">首页博客</a></li>
  <li class="layui-nav-item"><a href="/laopo">纸片人老婆们</a></li>
  <li class="layui-nav-item"><a href="/study">这个不用看</a></li>
  <li class="layui-nav-item"><a href="/selfWeb">关于本站</a></li>
</ul>
</body>
</html>