<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小工具</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
    <script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <style>
        @keyframes loading {
            0% {content: "抓取中，请稍后...";}
            33% {content: "抓取中，请稍后...";}
            66% {content: "抓取中，请稍后...";}
            100% {content: "抓取中，请稍后...";}
        }
        .disable {
            pointer-events: none;
            opacity: 0.5;
        }

        .layui-btn-radius {
            margin-left: 400px;
            margin-top: 10px;
            width: 300px;
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
<ul class="layui-nav layui-bg-blue">
  <li class="layui-nav-item" style="margin-right:300px"><span>欢迎，高洁而纯真的灵魂</span></li>
  <li class="layui-nav-item"><a href="/home">首页博客</a></li>
  <li class="layui-nav-item"><a href="/laopo">纸片人老婆们</a></li>
  <li class="layui-nav-item"><a href="/study">这个不用看</a></li>
  <li class="layui-nav-item"><a href="/selfWeb">小工具</a></li>
  <li class="layui-nav-item layui-hide-xs"><a href="//baidu.com">技术支持</a></li>
</ul>
<hr/>
<div class="layui-form layui-row layui-col-space16">
    <fieldset class="layui-elem-field layui-field-title">
        <legend class="layui-font-16">原神抽卡文字模拟版</legend>
        <legend style="text-align:right;">
            <i class="layui-icon layui-icon-diamond">原石:<span id="y">1600</span></i>
        </legend>
    </fieldset>
    <div class="layui-col-md5">
        <select lay-filter="genshin" name="role">
            <option value="0">请选择卡池</option>
            <option value="ayaka">神里绫华</option>
            <option value="yomiya">宵宫</option>
            <option value="keqing">刻晴</option>
        </select>
    </div>

    <div class="layui-col-md5">
        <select lay-filter="genshin" name="yuan">
            <option value="160">请选择充值金额</option>
            <option value="6">6</option>
            <option value="30">30</option>
            <option value="198">198</option>
            <option value="328">328</option>
            <option value="648">648</option>
        </select>
    </div>
    <div class="layui-col-md2">
        <button class="layui-btn layui-btn-lg layui-btn-primary layui-bg-blue" lay-submit lay-filter="money">充值</button>
    </div>

    <div class="layui-col-md3"></div>
    <div class="layui-col-md6">
        <img src="https://act-webstatic.mihoyo.com/puzzle/hk4e/pz_nfPSjub8Eb/resource/puzzle/upload/puzzle/2023/08/07/c04ae611fca54d47829679647feb7d54_8266286997832127885.png" alt="card-genshin" id="img" style="margin-top: 10px;height: 100%;width: 100%;">
    </div>
    <div class="layui-col-md3">
        <h4 class="layui-font-18">抽卡获得：</h4>
        <hr>
        <span id="cd" class="layui-font-20"></span>
    </div>
    <button class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius layui-bg-blue" lay-submit lay-filter="one">抽一次<i class="layui-icon layui-icon-diamond">-160</i>
    </button>

    <button class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius layui-bg-blue" lay-submit lay-filter="ten">十连抽<i class="layui-icon layui-icon-diamond">-1600</i></button>
    
</div>

<!-- 相册抓取小工具 -->    

<div class="layui-panel">
    <fieldset class="layui-elem-field layui-field-title">
        <legend class="layui-font-16">微博博主相册图片抓取</legend>
    </fieldset>

    <div style="padding: 32px;">
        <form class="layui-form layui-form-pane" action="/selfWeb" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">COOKIE *：</label>
                <div class="layui-input-block">
                    <input type="text" name="ck" autocomplete="off" placeholder="请输入" lay-verify="required" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">博主ID *：</label>
                <div class="layui-input-block">
                    <input type="text" name="uid" autocomplete="off" placeholder="请输入" lay-verify="required" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">抓取页数：</label>
                <div class="layui-input-inline">
                    <select name="page" lay-filter="p1" id="t">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>            

            <div class="layui-form-item">
                <button class="layui-btn layui-btn-radius layui-bg-blue" lay-submit type="button" lay-filter="demo1" id="btn">开始抓取
                </button>
            </div>
            <div style="margin-left: 600px;">
                <a href="/download" class="layui-font-green layui-font-16" id="a">点击此处下载图片</a>
            </div>
        </form>
    </div>
</div>
<div class="layui-bg-gray" style="padding: 16px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">Tips-1:</div>
                <div class="layui-card-body">
                <h4>cookie提取：</h4>
                    <ul>
                        <li>1.登录微博账号，在空白处右击鼠标，在菜单中选择“检查”</li>
                        <li>2.在弹出的网页工具中选择“网络”标签</li>
                        <li>3.在该标签下的选项中选中“Fetch/XHR”,刷新页面</li>
                        <li>4.在左侧返回的请求数据中选择一个请求点击</li>
                        <li>5.该请求中“标头”标签下找到“请求标头”，复制cookie对应的内容粘贴到对应的输入框</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">Tips-2</div>
                <div class="layui-card-body">
                    <h4>博主的ID：</h4>
                    <ul>
                        <li>1.登录微博账号，进入博主的主页</li>
                        <li>2.在主页上方的网址中有一串数字</li>
                        <li>3.复制这串数字粘贴到对应的输入框</li>
                    </ul><br/>
                    <div style="margin-left:150px;">
                        <button class="layui-btn layui-btn-primary" lay-on="test_1">cookie获取示例图</button>
                        <button class="layui-btn layui-btn-primary" lay-on="test_2">ID获取示例图</button>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-footer layui-bg-blue layui-font-16" style="text-align: center;">
    <span>小工具仅供个人使用禁止盈利@天命科技</span>
</div>

<script>
    layui.use(function(){
        var layer = layui.layer;
        var util = layui.util;
        var form = layui.form;
        var y = document.getElementById("y");
        var cd = document.getElementById("cd");

        util.on('lay-on', {
            'test_1': function(){
                layer.photos({
                    photos: {
                        "title": "cookie示例图",
                        "start": 0,
                        "data": [{
                            "alt": "ck",
                            "pid": 1,
                            "src": "/static/ck.png"
                        }]
                    },
                    "hideFooter": true
                })
            },
            'test_2': function(){
                layer.photos({
                    photos: {
                        "title": "id示例图",
                        "start": 0,
                        "data": [{
                            "alt": "id",
                            "pid": 2,
                            "src": "/static/uid.png"
                        }]
                    },
                    "hideFooter": true
                })
            }            
        });

        form.on('submit(demo1)', function(data){
            var fd = data.field;
            $.ajax({
                url: "/selfWeb",
                data: fd,
                type: "POST",
                dataType: "json",
                success: function(res){
                    if (res.success == true) {
                        layer.msg("抓取完成，可点击下方链接下载");
                    }
                }
            });
            return true;
        });

        form.on('submit(one)', function(data){
            var fd = data.field;
            fd.yuan = y.innerText;
            if (y.innerText>=160) {
                $.ajax({
                    url: "/cardOne",
                    data: fd,
                    type: "POST",
                    dataType: "json",
                    success: function(r){
                        if (r.success == true) {
                            cd.innerHTML = r.card;
                            y.innerHTML = r.yuan;
                        }else{
                            layer.alert(r.MsgNotFound);
                        }
                    }
                })
            }else {
                layer.msg("原石不够了，我们去充值好吗？")
            }
            return true;
        });

        form.on('submit(ten)', function(data){
            var fd = data.field;
            fd.yuan = y.innerText;
            if (y.innerText>=1600) {
                $.ajax({
                    url: "/cardTen",
                    data: fd,
                    type: "POST",
                    dataType: "json",
                    success: function(r){
                        if (r.success == true) {
                            var car = JSON.parse(r.card);
                            for (var i = 0; i <= car.length-1; i++) {
                                cd.innerHTML = cd.innerHTML + car[i] + "<br>";
                            }
                            y.innerHTML = r.yuan;
                        }else {
                            layer.alert(r.MsgNotFound);
                        }
                    }
                })
            }else {
                layer.msg("原石不够了，我们去充值好吗？")
            }
        })

        form.on('submit(money)', function(data){
            var fd = data.field;
            $.ajax({
                url: "/money",
                data: fd,
                type: "POST",
                dataType: "json",
                success: function(res){
                    if (res.success == true) {
                        layer.msg("充值成功，快去抽卡吧！");
                        y.innerHTML = Number(res.yuan) + Number(y.innerText);
                    }
                }
            });
        })

        form.on('select(genshin)', function (data){
            var value = data.value;
            var img = document.getElementById('img');
            if (value == "ayaka") {
                img.setAttribute("src", "/static/MyGirl/cardLH.jpg");
            }else if (value == "yomiya") {
                img.setAttribute("src", "/static/MyGirl/cardXG.png");
            }else if (value == "keqing") {
                img.setAttribute("src", "/static/MyGirl/cardKQ.jpg");
            }
        })      
    })
</script>

<script>
    var btn = document.getElementById("btn");
    var t = document.getElementById("t");
    var a = document.getElementById("a");
    a.classList.add("disable");

    btn.addEventListener("click", function(){
        var time = t.value * 3;
        var c = document.getElementsByName("ck")[0].value;
        var u = document.getElementsByName("uid")[0].value;

        if (c != '' && u != '') {
            btn.innerText = "抓取中，请稍后...";
            btn.classList.add("loading");
            setTimeout(function() {
                btn.classList.remove("loading");

                btn.innerText = "抓取完成";

                if (btn.innerText == "抓取完成") {
                    a.classList.remove("disable");
                }
            
            }, time * 2000);
        }
    });
</script>
</body>
</html>