<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生管理系统登录</title>
    <link rel="stylesheet" type="text/css" href="../static/StuWebFirst.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"> </script>
</head>
<body>
    <div class="content">
        <form action="{{url_for('login')}}" method="post" name="login">
            <div class="login-content">
                <a class="banner-box"></a>
                    <div class="login-box">
                        <h1>教师登录</h1>
                        <input type="text" placeholder="请输入账号" required="required" name="account">
                        <input type="password" placeholder="请输入密码" required="required" name="password">
                        <button class="login-btn" onclick="check()" style="cursor: pointer">登录</button>
                        <br>
                        <p class="a">还没有账号？马上点击
                            <a href="/register" target="_blank">注册</a>
                        </p>
                    </div>
            </div>
         </form>
    </div>
<div class="foot">
    <p>2021 版权所有@岩王帝君 翻版必究</p>
</div>
</body>
</html>