<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>神里绫华</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
    <script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
</head>
<style>
    img {
        width: 100%;
        height: auto;
    }
    .layui-panel{
        margin-top: 12px;
        font-size: 18px;
        background-color: #87CEFA;
        }
    p {
       margin-left: 10px;
       margin-right: 10px;
       color: #FFFAFA;
      }
    button {
        margin-left:180px;
        margin-bottom: 10px;
        }
</style>
<body>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <img src="/static/MyGirl/ayaka.png">
            </div>
            <hr>
            <div class="layui-card-body">
                <img src="/static/MyGirl/绫华.jpeg">
            </div>
        </div>
    </div>
<!--这是分割线-->
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div>
                <h5 style="text-align: center;color: #FFFAFA;">稻妻社奉行神里家 -- 「白鹭公主」神里绫华</h5>
                <p>名字：[[${ayaka.name}]]</p>
                <p>神之眼：[[${ayaka.mark}]]</p>
                <p>称号：[[${ayaka.heroName}]]</p>
                <p>初次见面：[[${ayaka.firstSight}]]，神里绫华，参上</p>
                <hr>
                <p style="text-align:justify;">
                    关于神里绫华·其一：稻妻“社奉行”神里家的大小姐。容姿端丽，品行高洁。绫华贵为“公主”，平日主理家族内外事宜。绫华常出现在社交场合，与民间交集也较多。因此，更被人们熟悉的她反而获得了高于兄长的名望，被雅称为“白鹭公主”。众所周知，神里家的女儿绫华小姐容姿端丽、品行高洁，是深受民众钦慕的人物
                </p>
                <hr>
                <p style="text-align:justify;">
                    关于神里绫华·其二：绫华性情善良仁厚，待人礼貌得体，常亲自出面处理民间事务，与民众距离很近。她个性认真，追求将每一件事务都办得尽善尽美。人们为这份心意所感动，亲近于她，还赠予她“白鹭公主”的雅称。街坊邻里说起她，总会露出真心实意的赞叹之色。
                    受良好家教影响的绫华有着一颗纯如冰晶的至美之心。冬日里旋转冰晶，便能看到折射出的绚烂华彩。绫华的心灵亦是如此。她不只拥有华美拘谨的一面，心灵深处还埋藏着不为人知的温柔与可爱。
                </p>
                <hr>
                <p style="text-align:justify;">
                    关于神里绫华·其三：平日里钻研花道、茶道，品名茶、赏奇花的开销也着实不小。不过，这些都是身为贵族大小姐的她必须掌握的技能，并无“肆意”一说。真正能让绫华露出笑容的，反而是那些寻常百姓也能享受的小事。譬如制作点心，譬如在池塘边捞金鱼，又譬如躲起来阅读八重堂新出的小说……无一不是小事。这种时刻的她，不是受人景仰的白鹭公主，不是掌管神里大宅的绫华大人，而是普普通通的“少女绫华”。
                </p>
                <hr>
                <p style="text-align:justify;">
                    关于神里绫华·其四：卸下端庄持重的对外形象，绽放出随性自在的真我。唯有作为“少女绫华”时，她才能放下重担，做普通女孩也能做的事。深夜肚子饿了，避开佣人偷偷溜到厨房，哼着歌为自己做一碗茶泡饭；茶道课时，偷偷根据茶叶的形状占卜恋爱运势……等等。虽然从未向他人说明，但绫华无比珍惜自己作为普通少女的时间。因为，这样的自由时刻实在很少。
                </p>
                <hr>
                <div>
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" lay-on="video-1">角色演示：「寒椿吹雪」
                    </button>
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" lay-on="video-2">
                    角色短片：「雪霁逢春」
                    </button>
                </div>            
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(function(){
        var util = layui.util;
        var layer = layui.layer;
        util.on('lay-on', {
            'video-1': function(){
                layer.open({
                    type: 2,
                    area: ['700px', '700px'],
                    title: false,
                    closeBtn: 0,
                    shadeClose:true,
                    content: '//www.bilibili.com/video/BV1w44y1m79B/?spm_id_from=333.337.search-card.all.click'
                }) 
            },
            'video-2': function(){
                layer.open({
                    type: 2,
                    area: ['700px', '700px'],
                    title: false,
                    closeBtn: 0,
                    shadeClose:true,
                    content: '//www.bilibili.com/video/BV1ZF411g7EZ/?spm_id_from=333.337.search-card.all.click'
                }) 
            }
        });
    })
</script>
</body>
</html>