<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱莉希雅</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/layui/2.8.4/css/layui.css">
    <script src="https://cdn.staticfile.org/layui/2.8.4/layui.js"></script>
    <style>
        img {
            width: 100%;
            height: auto;
        }
        .layui-panel{
            margin-top: 12px;
            font-size: 18px;
            color: pink;
        }
        p {
            margin-left: 10px;
            margin-right: 10px;

        }
        audio {
            width: 360px;
            height: 20px;
        }
        .gname {
            margin-left: 30px;
            margin-right: 10px;
            color: pink;
            font-size: 16px;
        }
        button {
            margin-left:180px;
            margin-bottom: 10px;
        }

        iframe {
            border: none;
            width:298px;
            height:52px;
        }

    </style>
</head>
<body>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-body">
                <img src="https://upload-bbs.miyoushe.com/upload/2022/11/25/294368507/294c02ad481a5a8d1f2221438928a270_8922339786685673694.jpg?x-oss-process=image/auto-orient,0/interlace,1/format,jpg" alt="Elysia">
            </div>
            <div>
                <span class="gname" style="margin-bottom:30px">爱莉希雅主题曲：HoYo-Mix 黄龄-TruE</span>
                <iframe src="//music.163.com/outchain/player?type=2&id=1971144922&auto=1&height=32"></iframe>
            </div>
            <hr>
            <div class="layui-card-body">
                <img src="https://upload-bbs.miyoushe.com/upload/2022/11/29/298265375/fe062ca7839bbe0cc6d0f61b3ba40c85_9026149374892203570.png?x-oss-process=image/auto-orient,0/interlace,1/format,png" alt="Elysia">
            </div>
            <div>
                <span class="gname">爱莉希雅同人曲：宴宁-致爱</span>
                <iframe src="//music.163.com/outchain/player?type=2&id=1973314938&auto=1&height=32"></iframe>            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-panel">
            <h5 style="text-align: center;">逐火十三英桀第二位 --「真我」之铭 爱莉希雅</h5>
            <p>名字: [[${elysia.name}]]</p>
            <p>位次: II</p>
            <p>专属刻印: [[${elysia.mark}]]</p>
            <p>英桀称号: [[${elysia.heroName}]]</p>
            <p>初次见面: [[${elysia.firstSight}]]</p><hr>
            <p style="text-align:justify;">
                关于「爱莉希雅」·其一：爱莉希雅身为人之律者，诞生于天地之间，小时候被当做孤儿收养在沃斯托克-51号花园殖民地的小镇，名字也是从自己看的一本童话书受到启发而取的，永恒的乐园、永恒的乐土——爱莉希雅。在与小镇居民的生活中，她渐渐意识到自己的不同，为了保护小镇居民，她踏上了旅途，最终来到逐火之蛾。而在爱莉希雅的旅途中，与其他英桀早已有了命运中的联系
            </p><hr>
            <p style="text-align:justify;">
                关于「爱莉希雅」·其二：爱莉希雅虽然表面看上去俏皮灵动，但身为实力强劲的融合战士，她在战斗中也会展现出沉稳干练的一面。爱莉希雅使用的武器，是一把与她优雅而华美的弓“往世的飞花”。当然，她所擅长的不仅仅只有弓矢，没有什么武器是她不擅长的。但被爱莉希雅的魔法命中的人，会被附加提高伤害的水晶花种。在此基础上，兼具射程与精度的弓自然是最佳选择。她的招式都准确连贯，充满自信但又不过分张扬
            </p><hr>
            <p style="text-align:justify;">
                关于「爱莉希雅」·其三：作为融合战士的领袖，爱莉希雅美丽优雅，极具魅力。纯真的外表下有着调皮、自恋的一面，充满了“坏心思”。她善于辞令，喜欢用轻佻的举止与人互动。在活跃气氛的同时，迅速拉近双方的关系。即便是对她有所提防的人，也会在她接连不断的“攻势”下，不知不觉暴露出弱点。但同时，爱莉希雅又十分神秘，令人捉摸不透，对话的节奏始终被她牢牢把握在手中，在关键之处就会戛然而止，只留下一个充满暗示的笑容。就是这样敌退我进，敌进我退，始终保持着一段朦胧的距离
            </p><hr>
            <p style="text-align:justify;">
                关于「爱莉希雅」·其四：而在那个时代的命运即将迎来终点时，她向深爱的战友坦白了身份，为了她深爱的世人做出了一个艰难的决定。那是最后的一场名为讨伐第十三律者的晚宴，她邀请她的战友，有些因为相信爱莉希雅而参加，有些因为相信爱莉希雅而拒绝讨伐。那个晚上，她选择了牺牲自己，拨弄命运的丝线，使得下一个纪元出现的律者萌生更多的人性，有更多的幸存者或主动或被动地律者化后依旧保持自己的人性，甚至为所爱之人而战
            </p><hr>
            <div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" lay-on="page">关于「人之律者」
                </button>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" lay-on="video-1">粉色妖精小姐
                </button>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" lay-on="video-2">人之律者</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(function(){
        var util = layui.util;
        var layer = layui.layer;
        util.on('lay-on', {
            'page': function(){
                layer.open({
                    type: 1,
                    area: ['640px', '700px'],
                    title: false,
                    closeBtn: 0,
                    shadeClose:true,
                    content:'<p style="padding: 16px;">某一日，祂从天坠落，人们抬头仰望，于是看见了星空</p>' +
                            '<p style="padding: 16px;">星月送来神的女儿，她愿成为人的伴侣</p>'+
                            '<p style="padding: 16px;">长风化作她的轺车，四海落成她的园圃，鸟雀衔来善的种子，百花编织爱的颂歌</p>'+
                            '<p style="padding: 16px;">她便是这样降生于世，行于大地，与人类一起长大，与世界一同发芽</p>'+
                            '<p style="padding: 16px;">而今，终焉之时将至</p>'+
                            '<p style="padding: 16px;">而今，归去之时将至</p>'+
                            '<p style="padding: 16px;">就此告别吧，美丽的世界</p>'+
                            '<p style="padding: 16px;">此后，将有群星闪耀，因为我如今来过</p>'+
                            '<p style="padding: 16px;">此后，将有百花绽放，因为我从未离开</p>'+
                            '<p style="padding: 16px;">亲爱的山雀</p>'+
                            '<p style="padding: 16px;">请将我的箭，我的花，与我的爱，织成新生的种子，带向那枯萎的大地</p>'+
                            '<p style="padding: 16px;">而后便让它开出永恒而无暇的...人性之华吧</p>'+
                            '<p style="padding: 16px;">我名为「爱莉希雅」</p>'+
                            '<p style="padding: 16px;">最初的律者「真我·人之律者」</p>'
                });
            },
            'video-1': function(){
                layer.open({
                    type: 2,
                    area: ['700px', '700px'],
                    title: false,
                    shade: 0.8,
                    closeBtn: 0,
                    shadeClose:true,
                    content: '//bilibili.com/video/BV1Nw411R7bU/?spm_id_from=333.337.search-card.all.click'                
                });
                layer.msg('点击空白区域可关闭');
            },
            'video-2': function(){
                layer.open({
                    type: 2,
                    area: ['700px', '700px'],
                    title: false,
                    shade: 0.8,
                    closeBtn: 0,
                    shadeClose:true,                    
                    content: '//bilibili.com/video/BV1DS4y1t7rs/?spm_id_from=333.337.search-card.all.click'
                })
            }
        });
    });
</script>
</body>
</html>